h1 {display: block !important;}
h1,h2,h3,h4,h5,h6 {text-transform: none;}
h2.page-description {
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px #000;
    font-size: 1.25em;
}
#cd-menu-trigger {display: none;}
.main-header {
    height: 15em;
    background-position: top right;
}
.main-nav {
    background: transparent;
    padding: 0 30px;
    height: auto;
}
.cd-main-content {padding-top: 0 !important;}
.scroll-down {display: none;}
time.post-date {background: transparent;}
.post-content a {text-decoration: underline;}