<!DOCTYPE html>
<html>
<head>
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#993366">
    <title>Jessica Bates</title>
    <meta name="description" content="Good 'n Social" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/assets/images/favicon_at_32x32_crete.png">
    <link href='https://fonts.googleapis.com/css?family=Crete+Round|Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{asset "css/jesserker.css"}}" />
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{! Everything else gets inserted here }}
    {{{body}}}

</body>
</html>