{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<main>
	<figure>
		<img src="/content/images/2016/02/jessica_bates.jpg" alt="Jessica Bates"/>
	</figure>
	<article>
		<header>
			<h1>Jessica Bates</h1>
			<p class="tagline">good 'n social</p>
		</header>
		<section>
			<p class="bio">Praesent nec hendrerit urna. Fusce vestibulum luctus lobortis. Sed rutrum eget elit vitae efficitur. Nam interdum nisi a interdum aliquet. Praesent molestie ipsum tempus pretium porttitor. Nulla accumsan rhoncus turpis, in accumsan lacus ultricies et. Curabitur sit amet auctor enim. Vivamus vitae lacus ut tellus sollicitudin condimentum nec id enim.</p>
		</section>
		<footer>
		{{> social}}
		</footer>
	</article>
</main>