/*jesserker.css*/
img,legend{border:0}
legend,td,th{padding:0}
html{font-size:10px;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
	display:block;
	margin: 0;
	padding:0;
}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,optgroup,strong{font-weight:700}
dfn{font-style:italic}
h1,h2,h3,h4,h5,h6{margin:0;padding: 0;}
p {margin:0;padding: 0;}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
svg:not(:root){overflow:hidden}
figure{margin:0}
hr{box-sizing:content-box;height:0}
pre,textarea{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:none;margin: 0;padding:0;}
table{border-collapse:collapse;border-spacing:0}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	font-size:1.6rem;
}

main {
	position: relative;
	max-width: 80rem;
	margin:0 auto;
}

h1, h2, h3, h4, h5, h6, .tagline {
	font-family: 'Crete Round', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,sans-serif; 
}

h1 {
	font-size: 4.8rem;
	color: #993366;
}

h2, .tagline {
	font-size: 2.4rem;
}

.tagline {
	padding-left: .5em;
	font-style: italic;
}

p {
	font-family: 'Roboto Condensed', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,sans-serif;
	line-height: 1.375;
	color: #000;
}

.bio p + p {
	margin-top: .6666em;
}

figcaption {
	font-family: 'Roboto Condensed', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,sans-serif;
	font-size: 2.4rem;
}

figcaption a {
	display: block;
	font-size: 3.6rem;
	padding: .5em;
	background: #993366;
	color: #fff;
	text-decoration: none;
	transition: all .3333s ease-in-out;
}

figcaption a:hover {
	background: #000;
}

figcaption .at-sign {
	font-family: 'Crete Round', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,sans-serif; 
}

img {
	max-width: 100%;
}

.hire-me {
	font-family: 'Crete Round', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,sans-serif;
	font-size: 2.4rem;
	background-image: url(/assets/images/c0nt4act_m3.svg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 8.4rem;
	/*width: 6.4rem;*/
	min-height: 8.4rem;
	padding-top: 2em;
	transition: all .3333s ease-in-out;
}

.hire-me:hover {
	transform: scale(.975);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.hire-me span, .hire-me a {
	display: block;
	height: 100%;
	min-height: 8.4rem;
}

.hire-me a {
	color: #993366;
	transition: all .3333s ease-in-out;
}

.hire-me a:hover {
	color: #000;
}

.hire-me a {
	text-decoration: none;
	transition: all .3333s ease-in-out;
}

.social-icon {
	width: 4.8rem;
	/*must specify height because IE*/
	height: 4.8rem;
	vertical-align: bottom;
}

/*.social-icon.instagram-icon {
	width: 4.2rem;
	height: 4.2rem;
}*/

.social-icon.c0nt4ct-icon {
	width: 8.8rem;
	/*must specify height because IE*/
	height: 8.8rem;
}

.social-icon-link .social-icon path {
	transition: all .3333s ease-in-out;
}

.social-icon-link .social-icon:hover path {
	fill: #000;
	transform: scale(.975);
}


@media(max-width: 640px){
	figcaption {
		position: relative;
		top: -15rem;
	}
	figcaption a {
		background: #993366;
	}
	header {
		position: absolute;
		top:0;
		width: 100%;
		padding: 0 0 0 1em;
	}
	h1 {
		text-shadow: 1px 1px 1px rgba(255,255,255,.95);
	}
	h2, .tagline {
		color:#fff;
	}
	section {
		position: relative;
		top: -15rem;
		background: #fff;
		padding: 1.5em;
		margin-bottom: -15rem;
	}

	.hire-me {
		background-position: right;
	}

	footer {
		padding-bottom: 1em;
	}
	
	.social-icon-link {
		margin-left: 1.5em;
	}
}

@media(min-width: 641px){
	figure, article {
		display: inline-block;
	}
	figure {
		width:33%;
		background: #993366;
	}
	figcaption a:hover {
		background: #000;
		box-shadow: inset 0 -.5rem 0 0 rgba(153,51,102,1);
	}
	article {
		width:66%;
		vertical-align: top;
		padding-right: 1em;
		padding-left: 1em;
	}
	.bio {
		padding: 1em 1em 0 0;
	}

	.hire-me {
		background-position: 66% 50%;
		padding-top: 1em;
	}

	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	.social-icon-link {
		margin-right: 1em;
	}
}

@media(min-width: 641px) and (max-width:767px){
	html {
		font-size: 9px;
	}
}

@media(min-width: 1024px){
	html {
		font-size: 11px;
	}
}