<!--<div class="call-to-action">
	<h3>Reach Out!</h3>
</div>-->
<div>
	<a class="social-icon-link" target="_blank" href="https://twitter.com/jesserker"><svg class="social-icon twitter-icon" viewBox="0 0 24 24" xml:space="preserve">
	<path fill="#993366" d="M24,6.7c-0.883,0.393-1.832,0.656-2.828,0.775c1.018-0.609,1.798-1.574,2.165-2.724
		c-0.951,0.564-2.005,0.974-3.127,1.195c-0.897-0.957-2.178-1.555-3.594-1.555c-3.179,0-5.515,2.966-4.797,6.045
		C7.728,10.231,4.1,8.271,1.671,5.292c-1.29,2.213-0.669,5.108,1.523,6.574c-0.806-0.025-1.566-0.247-2.229-0.616
		c-0.054,2.281,1.581,4.415,3.949,4.89c-0.693,0.188-1.452,0.231-2.224,0.084c0.626,1.956,2.444,3.379,4.6,3.419
		c-2.07,1.623-4.678,2.348-7.29,2.04c2.179,1.397,4.768,2.212,7.548,2.212c9.142,0,14.308-7.721,13.995-14.646
		C22.505,8.555,23.34,7.688,24,6.7z"/>
	</svg></a>

	<a class="social-icon-link" target="_blank" href="https://www.instagram.com/jesserker/"><svg class="social-icon instagram-icon" viewBox="0 0 24 24" xml:space="preserve">
<path fill="#993366" d="M20.076,2.927H3.923C2.585,2.927,1.5,4.012,1.5,5.35v16.152c0,1.34,1.085,2.426,2.423,2.426h16.155
	c1.338,0,2.422-1.086,2.422-2.426V5.35C22.5,4.012,21.416,2.927,20.076,2.927z M12,9.389c2.23,0,4.039,1.807,4.039,4.039
	c0,2.23-1.809,4.039-4.039,4.039s-4.038-1.811-4.038-4.039C7.962,11.196,9.77,9.389,12,9.389z M19.875,20.496
	c0,0.445-0.361,0.807-0.809,0.807H4.934c-0.447,0-0.809-0.361-0.809-0.807v-8.818h1.66c-0.077,0.275-0.133,0.56-0.175,0.85
	c-0.044,0.295-0.071,0.594-0.071,0.9c0,3.568,2.893,6.461,6.461,6.461s6.461-2.893,6.461-6.461c0-0.307-0.026-0.605-0.071-0.9
	c-0.041-0.289-0.097-0.574-0.174-0.85h1.659V20.496z M19.875,8.263c0,0.445-0.361,0.808-0.809,0.808h-1.902
	c-0.447,0-0.808-0.362-0.808-0.808V6.36c0-0.446,0.36-0.808,0.808-0.808h1.902c0.447,0,0.809,0.361,0.809,0.808V8.263z"/>
</svg></a>

	<a class="social-icon-link" target="_blank" href="https://www.linkedin.com/in/jesserker"><svg class="social-icon linkedin-icon" viewBox="0 0 24 24" xml:space="preserve">
	<path fill="#993366" d="M4.98,3.5C4.98,4.881,3.87,6,2.5,6S0.02,4.881,0.02,3.5C0.02,2.12,1.13,1,2.5,1S4.98,2.12,4.98,3.5z M5,8H0
		v16h5V8z M12.982,8H8.014v16h4.968v-8.398c0-4.67,6.029-5.053,6.029,0V24H24V13.869c0-7.88-8.922-7.593-11.018-3.714V8z"/>
	</svg></a>

	<!--<svg class="social-icon c0nt4ct-icon" viewBox="0.625 0 23.375 23.375" xml:space="preserve">
	<g>
	<path fill="#993366" d="M1.468,8.297C1.407,8.261,1.391,8.22,1.43,8.153l0.535-0.912C2,7.18,2.042,7.164,2.108,7.203l1.861,1.09
		c-0.215-0.451-0.162-0.874,0.047-1.23c0.357-0.61,0.893-0.735,1.576-0.335l1.553,0.91l0.209-0.357
		c0.035-0.06,0.083-0.073,0.144-0.037l0.296,0.173c0.066,0.039,0.073,0.083,0.038,0.144L7.057,8.884
		C7.021,8.945,6.973,8.958,6.913,8.922L6.617,8.749C6.55,8.709,6.544,8.665,6.579,8.605l0.17-0.29L5.498,7.582
		C5.069,7.331,4.742,7.196,4.463,7.673c-0.223,0.38-0.101,0.85,0.195,1.023l1.39,0.814l0.216-0.369
		C6.303,9.076,6.348,9.07,6.408,9.105l0.296,0.173C6.771,9.317,6.78,9.356,6.741,9.422l-0.803,1.372
		c-0.036,0.061-0.083,0.073-0.144,0.038l-0.296-0.173c-0.066-0.039-0.073-0.083-0.038-0.144l0.191-0.326L2.117,8.117L1.926,8.443
		C1.89,8.504,1.849,8.52,1.782,8.481L1.468,8.297z"/>
	<path fill="#993366" d="M6.769,6.35C6.243,5.59,6.155,4.579,7.058,3.953c0.88-0.609,1.62-0.057,2.05,0.564
		c0.036,0.052,0.087,0.126,0.129,0.2C9.28,4.79,9.284,4.821,9.198,4.88L7.506,6.051c0.373,0.465,0.792,0.737,1.413,0.307
		c0.259-0.179,0.403-0.364,0.546-0.6C9.503,5.69,9.549,5.684,9.612,5.725l0.292,0.189C9.968,5.956,9.964,6,9.933,6.065
		C9.807,6.313,9.524,6.654,9.127,6.929C8.172,7.59,7.374,7.224,6.769,6.35z M8.408,4.797c-0.233-0.349-0.59-0.656-1.062-0.329
		c-0.5,0.347-0.334,0.844-0.135,1.157L8.408,4.797z"/>
	<path fill="#993366" d="M11.172,5.338l0.422-0.128c0.067-0.02,0.111,0.003,0.131,0.07l0.1,0.328c0.022,0.074-0.003,0.11-0.07,0.131
		L10.16,6.223c-0.067,0.021-0.11-0.003-0.131-0.07L9.93,5.824C9.907,5.751,9.933,5.714,10,5.693l0.422-0.127L9.234,1.647
		l-0.362,0.11c-0.067,0.02-0.111-0.003-0.131-0.07L8.636,1.338c-0.022-0.074-0.004-0.109,0.07-0.131l1.012-0.307
		c0.067-0.021,0.108-0.003,0.131,0.07L11.172,5.338z"/>
	<path fill="#993366" d="M13.053,5.116l0.439-0.021c0.07-0.003,0.106,0.03,0.11,0.1l0.017,0.342c0.004,0.077-0.03,0.106-0.1,0.11
		l-1.664,0.08c-0.07,0.003-0.106-0.03-0.11-0.1l-0.017-0.342c-0.004-0.077,0.03-0.106,0.1-0.11l0.44-0.021l-0.196-4.088
		l-0.377,0.018c-0.07,0.003-0.106-0.03-0.11-0.1L11.568,0.62c-0.003-0.077,0.023-0.106,0.1-0.11l1.055-0.05
		c0.069-0.003,0.106,0.022,0.109,0.1L13.053,5.116z"/>
	<path fill="#993366" d="M16.185,2.625c0.521,0.161,1.454,0.624,0.999,2.101c-0.386,1.25-1.284,1.602-2.173,1.328
		c-0.909-0.28-1.309-1.003-0.958-2.139C14.487,2.504,15.543,2.427,16.185,2.625z M16.373,4.578c0.23-0.749,0.157-1.247-0.418-1.424
		C15.4,2.983,15.053,3.352,14.854,4c-0.184,0.595-0.282,1.318,0.386,1.524C15.787,5.693,16.136,5.346,16.373,4.578z"/>
</g>
<g>
	<path fill="#993366" d="M5.472,17.973c-0.37,0.24-0.753,0.303-1.054-0.16c-0.109-0.168-0.179-0.356-0.191-0.448
		c-0.005-0.045,0.007-0.062,0.049-0.071l0.229-0.053c0.042-0.008,0.06,0.004,0.068,0.047c0.011,0.045,0.042,0.153,0.112,0.261
		c0.122,0.188,0.304,0.203,0.576,0.026l1.49-0.969l-0.118-0.181c-0.022-0.034-0.016-0.062,0.018-0.083l0.175-0.114
		c0.037-0.023,0.059-0.019,0.083,0.018l0.33,0.508c0.021,0.033,0.016,0.061-0.018,0.083L5.472,17.973z M7.833,16.108
		c0.098,0.151,0.053,0.31-0.084,0.399c-0.134,0.087-0.3,0.061-0.396-0.087c-0.098-0.151-0.051-0.307,0.083-0.394
		C7.573,15.938,7.736,15.961,7.833,16.108z"/>
	<path fill="#993366" d="M6.634,17.678c0.383-0.362,0.946-0.499,1.377-0.044c0.42,0.443,0.173,0.908-0.14,1.205
		c-0.026,0.024-0.064,0.061-0.102,0.091c-0.038,0.029-0.055,0.035-0.096-0.009l-0.808-0.853c-0.23,0.251-0.347,0.511-0.05,0.824
		c0.124,0.13,0.24,0.195,0.386,0.256c0.042,0.016,0.05,0.041,0.032,0.08L7.152,19.41c-0.018,0.039-0.043,0.041-0.083,0.028
		c-0.151-0.049-0.368-0.18-0.558-0.38C6.056,18.578,6.193,18.096,6.634,17.678z M7.652,18.469c0.177-0.162,0.318-0.39,0.093-0.628
		c-0.239-0.252-0.505-0.115-0.665,0.024L7.652,18.469z"/>
	<path fill="#993366" d="M9.582,18.961c0.029,0.034,0.03,0.054,0.006,0.091L9.35,19.402c-0.022,0.033-0.05,0.038-0.083,0.017
		l-0.192-0.131c-0.033-0.022-0.041-0.047-0.009-0.078l0.131-0.158c-0.036-0.067-0.1-0.145-0.183-0.201
		c-0.146-0.099-0.294-0.136-0.391,0.006c-0.238,0.352,0.739,0.714,0.331,1.316c-0.225,0.331-0.603,0.369-1.03,0.08
		c-0.192-0.13-0.352-0.301-0.422-0.383c-0.03-0.034-0.025-0.056,0-0.092l0.238-0.352c0.022-0.033,0.05-0.038,0.083-0.016l0.192,0.13
		c0.033,0.022,0.041,0.047,0.013,0.081L7.9,19.788c0.026,0.075,0.104,0.167,0.21,0.238c0.156,0.105,0.322,0.16,0.436-0.009
		c0.267-0.394-0.728-0.701-0.313-1.313c0.188-0.278,0.57-0.357,0.978-0.081C9.393,18.746,9.524,18.888,9.582,18.961z"/>
	<path fill="#993366" d="M10.912,19.525c0.036,0.027,0.042,0.047,0.025,0.088l-0.16,0.393c-0.015,0.037-0.042,0.049-0.079,0.033
		l-0.215-0.087c-0.037-0.016-0.05-0.038-0.025-0.076l0.095-0.181c-0.049-0.06-0.127-0.122-0.22-0.159
		c-0.163-0.066-0.316-0.073-0.381,0.087c-0.16,0.393,0.872,0.545,0.597,1.22c-0.151,0.371-0.514,0.486-0.992,0.292
		c-0.215-0.088-0.407-0.222-0.493-0.287c-0.036-0.028-0.036-0.05-0.02-0.09l0.16-0.394c0.015-0.037,0.042-0.048,0.078-0.033
		l0.215,0.088c0.037,0.016,0.049,0.037,0.029,0.077l-0.09,0.188c0.041,0.069,0.137,0.143,0.255,0.191
		c0.174,0.07,0.348,0.09,0.425-0.1c0.18-0.441-0.858-0.535-0.579-1.222c0.127-0.312,0.485-0.468,0.941-0.282
		C10.683,19.354,10.841,19.466,10.912,19.525z"/>
	<path fill="#993366" d="M10.891,20.539c0.084-0.521,0.45-0.973,1.07-0.872c0.604,0.098,0.69,0.618,0.621,1.045
		c-0.006,0.036-0.014,0.087-0.025,0.134s-0.022,0.062-0.082,0.052l-1.162-0.188c-0.031,0.34,0.034,0.618,0.46,0.688
		c0.178,0.029,0.311,0.01,0.463-0.03c0.043-0.014,0.064,0.002,0.074,0.044l0.046,0.194c0.009,0.042-0.01,0.06-0.048,0.073
		c-0.15,0.053-0.402,0.081-0.675,0.036C10.977,21.608,10.793,21.14,10.891,20.539z M12.183,20.55
		c0.042-0.236,0.017-0.504-0.307-0.557c-0.344-0.056-0.473,0.216-0.515,0.424L12.183,20.55z"/>
	<path fill="#993366" d="M14.213,19.714c0.045,0.014,0.05,0.029,0.053,0.069l0.035,0.539c0.003,0.044-0.017,0.062-0.057,0.064
		l-0.26,0.017c-0.04,0.003-0.061-0.012-0.06-0.057l0.001-0.232c-0.021-0.003-0.049-0.001-0.068,0
		c-0.24,0.016-0.41,0.235-0.388,0.579l0.048,0.748l0.44-0.028c0.04-0.003,0.061,0.016,0.063,0.056l0.013,0.196
		c0.003,0.044-0.016,0.061-0.056,0.063l-1.1,0.071c-0.04,0.003-0.062-0.016-0.064-0.056l-0.013-0.196
		c-0.002-0.044,0.017-0.062,0.057-0.063l0.212-0.014l-0.087-1.336l-0.216,0.015c-0.04,0.002-0.062-0.017-0.063-0.057l-0.014-0.208
		c-0.003-0.044,0.012-0.061,0.056-0.063l0.528-0.034c0.04-0.003,0.061,0.016,0.071,0.056l0.062,0.281
		c0.067-0.197,0.259-0.406,0.547-0.426C14.043,19.693,14.176,19.704,14.213,19.714z"/>
	<path fill="#993366" d="M15.08,20.168l0.194-0.063l0.4-0.769c0.021-0.041,0.048-0.062,0.086-0.074l0.296-0.097
		c0.038-0.013,0.063,0.001,0.075,0.038l0.064,0.198c0.014,0.042,0,0.062-0.038,0.075l-0.231,0.075l-0.286,0.543l0.801,0.693
		l0.225-0.073c0.038-0.013,0.063,0,0.075,0.038l0.061,0.187c0.014,0.042,0,0.063-0.038,0.075l-0.49,0.16
		c-0.042,0.013-0.069,0.006-0.104-0.021l-0.869-0.734l-0.125,0.041l0.217,0.669l0.202-0.065c0.038-0.013,0.062,0,0.075,0.038
		l0.061,0.187c0.014,0.042,0,0.063-0.038,0.075l-0.828,0.27c-0.038,0.013-0.063,0-0.076-0.038l-0.061-0.187
		c-0.014-0.042,0.001-0.063,0.039-0.075l0.201-0.065l-0.725-2.227l-0.205,0.066c-0.038,0.013-0.063,0-0.075-0.038l-0.063-0.194
		c-0.013-0.038-0.003-0.062,0.038-0.075l0.574-0.187c0.038-0.013,0.063,0,0.075,0.038L15.08,20.168z"/>
	<path fill="#993366" d="M16.65,19.951c-0.288-0.442-0.321-1.022,0.206-1.365c0.514-0.334,0.928-0.006,1.163,0.356
		c0.02,0.03,0.048,0.074,0.07,0.116c0.023,0.043,0.025,0.061-0.025,0.093l-0.986,0.642c0.205,0.272,0.439,0.436,0.803,0.199
		c0.15-0.098,0.236-0.201,0.322-0.334c0.022-0.038,0.05-0.041,0.085-0.017l0.164,0.113c0.035,0.024,0.032,0.05,0.013,0.087
		c-0.075,0.14-0.243,0.33-0.475,0.48C17.433,20.685,16.982,20.462,16.65,19.951z M17.614,19.091
		c-0.127-0.203-0.326-0.385-0.602-0.206c-0.292,0.19-0.205,0.478-0.097,0.66L17.614,19.091z"/>
	<path fill="#993366" d="M18.54,17.119c0.042-0.021,0.056-0.013,0.085,0.016l0.39,0.375c0.031,0.03,0.029,0.056,0.001,0.084
		l-0.18,0.188c-0.028,0.029-0.054,0.032-0.083-0.001l-0.156-0.173c-0.017,0.012-0.036,0.032-0.05,0.047
		c-0.166,0.173-0.145,0.45,0.104,0.688l0.54,0.52l0.305-0.317c0.028-0.028,0.057-0.029,0.085-0.001l0.142,0.136
		c0.031,0.03,0.029,0.056,0.002,0.085l-0.764,0.793c-0.028,0.028-0.057,0.029-0.085,0.002l-0.142-0.137
		c-0.032-0.03-0.029-0.056-0.002-0.085l0.147-0.152l-0.963-0.928l-0.15,0.155c-0.027,0.029-0.056,0.029-0.085,0.002l-0.149-0.145
		c-0.032-0.03-0.032-0.053-0.002-0.085l0.366-0.381c0.028-0.028,0.057-0.029,0.091-0.007l0.235,0.165
		c-0.083-0.19-0.083-0.474,0.117-0.682C18.4,17.218,18.506,17.137,18.54,17.119z"/>
	<path fill="#993366" d="M19.932,18.204c-0.124-0.089-0.154-0.259-0.052-0.401c0.107-0.15,0.269-0.182,0.398-0.089
		c0.123,0.089,0.167,0.248,0.052,0.407C20.219,18.277,20.058,18.295,19.932,18.204z"/>
	<path fill="#993366" d="M20.897,16.453c0.078-0.158,0.085-0.289,0.091-0.425c0.003-0.043,0.026-0.063,0.069-0.06l0.19,0.014
		c0.043,0.004,0.059,0.025,0.061,0.066c0.011,0.131-0.01,0.353-0.143,0.618c-0.302,0.606-0.803,0.661-1.345,0.392
		c-0.516-0.258-0.807-0.725-0.513-1.316c0.229-0.459,0.604-0.486,0.938-0.32c0.043,0.021,0.034,0.049,0.017,0.084l-0.107,0.216
		c-0.018,0.035-0.036,0.054-0.084,0.034c-0.195-0.084-0.366-0.057-0.475,0.161c-0.145,0.291-0.007,0.517,0.396,0.717
		C20.362,16.817,20.706,16.836,20.897,16.453z"/>
	<path fill="#993366" d="M19.812,14.255c0.066-0.305,0.286-0.858,1.149-0.669c0.73,0.159,0.974,0.654,0.86,1.174
		c-0.116,0.531-0.509,0.794-1.173,0.648C19.824,15.228,19.729,14.63,19.812,14.255z M20.916,14.055
		c-0.438-0.096-0.719-0.03-0.792,0.306c-0.071,0.324,0.155,0.505,0.534,0.588c0.348,0.076,0.765,0.098,0.851-0.293
		C21.579,14.335,21.365,14.152,20.916,14.055z"/>
	<path fill="#993366" d="M20.232,13.447c-0.04,0.006-0.062-0.008-0.068-0.051l-0.077-0.544c-0.006-0.04,0.012-0.059,0.051-0.067
		l0.226-0.065c-0.246-0.106-0.385-0.317-0.419-0.551c-0.04-0.286,0.052-0.493,0.27-0.613c-0.272-0.119-0.404-0.339-0.438-0.573
		c-0.058-0.401,0.139-0.647,0.587-0.711l1.02-0.145L21.351,9.9c-0.006-0.04,0.011-0.062,0.051-0.068l0.194-0.027
		c0.044-0.006,0.062,0.011,0.068,0.051l0.124,0.873c0.006,0.04-0.012,0.062-0.051,0.068l-0.194,0.028
		c-0.044,0.006-0.062-0.012-0.068-0.051l-0.029-0.202l-0.821,0.117c-0.281,0.04-0.476,0.096-0.431,0.41
		c0.033,0.234,0.224,0.377,0.401,0.352l0.957-0.136l-0.027-0.19c-0.006-0.04,0.011-0.062,0.051-0.068l0.194-0.028
		c0.044-0.006,0.062,0.012,0.068,0.051l0.115,0.813c0.006,0.04-0.011,0.062-0.051,0.068l-0.194,0.027
		c-0.044,0.006-0.062-0.011-0.068-0.051l-0.025-0.179l-0.821,0.117c-0.281,0.041-0.476,0.096-0.432,0.41
		c0.036,0.25,0.253,0.377,0.447,0.35l0.912-0.13l-0.034-0.242c-0.007-0.043,0.011-0.062,0.051-0.068l0.194-0.028
		c0.044-0.006,0.062,0.011,0.068,0.051l0.127,0.896c0.006,0.04-0.011,0.062-0.051,0.068l-0.194,0.027
		c-0.044,0.007-0.062-0.011-0.068-0.051l-0.029-0.21l-1.325,0.188l0.03,0.214c0.006,0.04-0.008,0.062-0.051,0.068L20.232,13.447z"/>
</g>
<g>
	<path fill="#993366" d="M12.747,8.606c2.017,0,3.269,1.107,3.269,3.205c0,1.071-0.307,2.422-1.756,2.422
		c-0.441,0-0.783-0.18-0.801-0.567c-0.217,0.262-0.595,0.567-1.243,0.567c-0.603,0-1.251-0.297-1.251-1.188
		c0-1.396,1.512-1.503,2.439-1.512v-0.216c0-0.54-0.171-0.828-0.738-0.828c-0.558,0-0.702,0.18-0.747,0.477
		c-0.018,0.135-0.054,0.171-0.198,0.171h-0.405c-0.135,0-0.171-0.036-0.153-0.171c0.09-0.882,0.892-1.143,1.657-1.143
		c1.206,0,1.494,0.648,1.494,1.377v2.161c0,0.279,0.063,0.441,0.297,0.441c0.676,0,1.018-0.855,1.018-1.936
		c0-1.828-1.044-2.917-2.944-2.917c-1.899,0-3.078,1.369-3.078,3.205c0,2.125,1.368,2.98,3.105,2.98c0.18,0,0.369-0.009,0.559-0.027
		c0.135-0.018,0.162,0.019,0.18,0.145v0.018c0.018,0.126-0.009,0.162-0.135,0.171c-0.217,0.019-0.432,0.027-0.639,0.027
		c-1.999,0-3.502-1.009-3.502-3.295C9.173,10.046,10.578,8.606,12.747,8.606z M13.422,12.108c-0.656,0.018-1.548,0.036-1.548,0.81
		c0,0.352,0.198,0.612,0.685,0.612c0.576,0,0.863-0.315,0.863-0.621V12.108z"/>
</g>
</svg>-->

</div>