<!--<a class="googleplus-button" href="#">Google+</a>-->
<a target="_blank" class="twitter-button" href="http://twitter.com/jesserker">Twitter</a>
<!--<a target="_blank" class="facebook-button" href="#">Facebook</a>-->